<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="adullact.publicrowdfunding"
    android:versionCode="1"
    android:versionName="debug" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <permission
        android:name="com.adullact.publicrowdfunding.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.adullact.publicrowdfunding.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <!-- for most things, including card.io & paypal -->

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="adullact.publicrowdfunding.PublicrowdFundingApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCZq_GRRjpnie92npZYaxhTY0j4JYCMbBE" />
        
        
        <activity
            android:name="adullact.publicrowdfunding.controller.participate.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="adullact.publicrowdfunding.TabMapFragment"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="adullact.publicrowdfunding.controller.validateProject.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="adullact.publicrowdfunding.controller.detailProject.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="adullact.publicrowdfunding.controller.profile.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="adullact.publicrowdfunding.controller.addProject.AddLocationProject"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="adullact.publicrowdfunding.controller.addProject.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="adullact.publicrowdfunding.controller.preferences.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="adullact.publicrowdfunding.controller.detailProject.TabMapFragment"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="adullact.publicrowdfunding.controller.register.registerActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="adullact.publicrowdfunding.controller.detailProject.TabProjectFragment"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="adullact.publicrowdfunding.controller.detailProject.TabCommentsFragment"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="adullact.publicrowdfunding.controller.register.ConnexionActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="adullact.publicrowdfunding.TabsFragment"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="adullact.publicrowdfunding.TabFavorisFragment"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="adullact.publicrowdfunding.TabContributions"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="adullact.publicrowdfunding.TabProjectsFragment"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="adullact.publicrowdfunding.controller.participate.paypalActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="adullact.publicrowdfunding.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <PreferenceScreen
            android:summary="preferences"
            android:title="preferences" >
            <intent
                android:action="android.intent.action.VIEW"
                android:data="http://developer.android.com" />
        </PreferenceScreen>

        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />
    </application>

</manifest>